<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Explicabo officiis laboriosam aut voluptatibus minus ipsa sunt nisi minima, 
        quisquam amet sed deleniti eius eligendi mollitia dignissimos.
         Sunt voluptatum eius perspiciatis.</p>
</footer>